#mainHeader {
  border-bottom: solid 2px;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* border: solid 2px; */
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
/* dl {
  font-family: "Kreon", serif;
} */
.kserif {
  font-family: "Kreon", serif;
}
html {
  background-image: url("assets/controller.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body {
  padding: 0px 140px 0px 140px;
  border: solid 1px;
  background: #f1eded;
  opacity: 98%;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  border-radius: 20px;
  padding: 10px;
}
nav {
  padding: 0px 10px 10px 10px;
  margin: 12px 0px 8px 0px;
  text-align: right;
  margin-top: -49px;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: lightsteelblue;
}
ul {
  /* border: solid 2px red; */
  margin: 20px;
  display: inline;
  /* padding: 0px -8px 5px 6px; */
}
.navLink {
  /* border: solid 2px; */
  background-color: #000b5eff;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}
.active-page {
  background-color: rgb(108, 137, 218);
  /* border: solid -2px; */
  padding: 10px;
  border-radius: 5px;
}

.navLink:hover {
  background-color: #95a6d5ff;
}

.navLink li {
  display: inline;
  color: rgb(250, 250, 250);
  font-family: Arial, Helvetica, sans-serif;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}
details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  /* box-shadow: inset 5px 0 5px -5px #29627e; */
  font-style: italic;
  color: #272830;
}

aside > p {
  margin: 0.5rem;
}
dd {
  margin-right: 150px;
}
dd > p {
  /* border: solid 2px; */
  font-family: Arial, Helvetica, sans-serif;
  width: 55%;
  text-align: justify;
}
p {
  font-size: 18px;
  font-family: "Fira Sans", sans-serif;
}

footer {
  margin-top: 1%;
  border-top: solid 2px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li > input {
  width: 35px;
  font-weight: bold;
}
img {
  padding-bottom: 20px;
}

input:invalid {
  background-color: lightpink;
}
#userFavChoice {
  text-align: right;
}
