#mainHeader {
  border-bottom: solid 2px;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgba(2, 2, 45, 0.836);
  /* border: solid 2px; */
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}

/* dl {
  font-family: "Kreon", serif;
} */
.kserif {
  font-family: "Kreon", serif;
}
html {
  overflow-y: scroll;
  background-image: url("assets/controller.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-size: cover;
}
body {
  /* padding: 0px 140px 0px 140px; */
  padding: 0px 100px;
  border: solid 1px;
  background: #f1eded;
  opacity: 98%;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  border-radius: 20px;
  padding: 10px;
}
nav {
  padding: 0px 10px 10px 10px;
  margin: 12px 0px 8px 0px;
  text-align: right;
  margin-top: -49px;
}
a:link {
  text-decoration: none;
  color: black;
}
a:visited {
  text-decoration: none;
  color: black;
}
a:active {
  text-decoration: none;
  color: lightsteelblue;
}
ul {
  /* border: solid 2px red; */
  margin: 20px;
  display: inline;
  /* padding: 0px -8px 5px 6px; */
}
.navLink {
  /* border: solid 2px; */
  background-color: #000b5eff;
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
}
.active-page {
  background-color: rgb(108, 137, 218);
  /* border: solid -2px; */
  padding: 10px;
  border-radius: 5px;
}

.navLink:hover {
  background-color: #95a6d5ff;
}

.navLink li {
  display: inline;
  color: rgb(250, 250, 250);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.08em;
  font-family: "Kreon", serif;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details {
  border: 1px solid #0e2962;
  border-radius: 2px;
  padding: 0.5em 0.5em 0;
  width: 80%;
}
details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #0e2962;
  margin-bottom: 0.5em;
}
details p {
  font-size: 1em;
}

aside {
  width: 40%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  /* box-shadow: inset 5px 0 5px -5px #29627e; */
  font-style: italic;
  color: #272830;
}

aside > p {
  margin: 0.5rem;
}
dd {
  margin-right: 150px;
}
dd > p {
  /* border: solid 2px; */
  font-family: Arial, Helvetica, sans-serif;
  /* width: 55%; */
  text-align: justify;
  color: rgb(64, 64, 64);
  /* text-indent: 3%; */
}
p {
  font-size: 22px;
  font-family: "Fira Sans", sans-serif;
}

footer {
  margin-top: 1%;
  border-top: solid 2px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li > input {
  width: 35px;
  font-weight: bold;
}
/* img {
  padding-right: 20px;
} */

input:invalid {
  background-color: lightpink;
}
#userFavChoice {
  text-align: right;
}
caption {
  text-align: center;
  font-size: 1.5em;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 40%;
}
td,
th {
  border: 1px solid #bbbbbb;
  text-align: center;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
form {
  border: dashed 2px;
  border-radius: 20px;
  text-align: center;
  padding: 20px;
  width: calc(50%-100px);
  /* width: 50%; */
  /* float: calc(50% - 100px); */
}
form > input {
  text-align: center;
}
form label {
  display: block;
  padding-bottom: 5px;
}
.media {
  width: 110%;
}
.mediaContent {
  height: 315px;
  width: 560px;
  padding-right: 20px;
  padding-bottom: 10px;
}
@media screen and (min-width: 2000px) {
  .mediaContent {
    height: 400px;
    width: 711px;
    padding-right: 40px;
  }
}
